<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57817283272-vhoo15bu6ocb0ac9p3i0cjb8fit3pgeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57817283272-vhoo15bu6ocb0ac9p3i0cjb8fit3pgeg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>57817283272-k99otpfg6k2gmselotb699t1p4o27bdv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGhC6BIyhDLMQpLcLmHlAS1yQRYFUI1RE</string>
	<key>GCM_SENDER_ID</key>
	<string>57817283272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theMiddlemenGarage</string>
	<key>PROJECT_ID</key>
	<string>the-garage-5676d</string>
	<key>STORAGE_BUCKET</key>
	<string>the-garage-5676d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57817283272:ios:4e870baa920e3b3e2e83fd</string>
</dict>
</plist>